@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ====== reset ===== */

*,
::before,
::after{
   padding: 0;
   margin: 0;
   border: none;
   box-sizing: border-box;
}
li{
   list-style: none;
}
a{
   color: inherit;
   text-decoration: none;
}
img{
   vertical-align: bottom;
}


/* ======= style ======== */

body{
   font-family: 'Roboto', sans-serif;
   height: 100%;
   color: #030305;
}

.header {
   border-bottom: 1px solid #E5E5E5;
   padding: 25px;
   position: fixed;
   width: 100%;
   background:rgba(255, 255, 255, 0.965);
   margin-bottom: 100px;
   z-index: 10;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   position: relative;
}
.header .container{
   display: flex;
   align-items: center;
}

.logo {
   margin-right: 244px;
   animation: logo 3s ease infinite;
}
@keyframes logo{
   0%{
      transform:scale(1);
   }
   50%{
      transform:scale(1.2);
   }
   100%{
      transform:scale(1);
   }
}

.menu ul{
   display: flex;
}
.menu-item {
   margin-right: 115px;
}
.menu-item a{
   font-size: 15px;
   line-height: 1.2;
}
.menu-item a::after{
   content: '';
   display: block;
   width: 0%;
   height: 2px;
   background-color: #030305;
   transition: width 0.3s ease;
}
.menu-item a:hover::after{
   width: 100%;
}

.main {
   background: url("../img/background.png") center bottom/ 1920px 705px no-repeat;
   padding: 195px 0 154px;
   overflow: hidden;
   margin-bottom: 100px;
}
.main-info {
   max-width: 855px;
}
.main-info>*{
   margin-bottom: 40px;
}
.main-title {
   font-weight: 700;
   font-size: 80px;
   line-height: 1.1;
}
.main-text {
   max-width: 502px;
   line-height: 1.3;
}
.button{
   width: 334px;
   height: 64px;
   background: #030305;
   color: #fff;
   font-weight: 700;
   line-height: 1.5;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   transition: all 0.3s ease;
}
.button:hover{
   background: #232323;
   cursor: pointer;
   color: burlywood;
   border-radius: 10px;
}

.car{
    margin-bottom: 100px;
}

.sub-title {
   font-weight: 700;
   font-size: 60px;
   line-height: 1.2;
}
.car .sub-title {
   margin-bottom: 40px;
}

.car-items {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}
.car-item{
   text-align: center;
   margin-bottom: 20px;
   padding-bottom: 20px;
   transition: all 0.4s;
}
.car-item:hover{
   box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.194);
   border-radius: 10px;
   transform: scale(1.1);
}


.car-item img{
   max-width: 384px;
}
.car-item-image {
   margin-bottom: 15px;
}

.car-item-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 1.5;
   letter-spacing: 0.02em; 
   margin-bottom: 17px;
}
.car-item-info {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 13px;
}
.car-item-point {
   line-height: 1.3;
   letter-spacing: 0.02em;
   min-width: 110px;
   margin: 0px 7.5px;
}
.car-item-point img{
   margin-bottom: 11px;
}
.car-item-point img + p{
   font-weight: 700;
}
.car-item-action .button{
   width: 100%;
   max-height: 54px;
}
.car-item-action .button:hover{
   border-radius: 0px;
   width: 95%;
}


.price {
   overflow: hidden;
}
.price .container{
    margin-bottom: 122px;
}

.price .sub-title{
   margin-bottom: 20px;
}
.price-text {
   color: #5D5D5F;
   line-height: 1.3;
   margin-bottom: 60px;
}
.price-form {
  display: flex;
  flex-direction: column;
  max-width: 344px;
}
.price-input {
   border: 1px solid #5D5D5F;
   margin-bottom: 15px;
   line-height: 1;
   color: #000;
   padding: 22px 18px;
   height: 64px;
   font-size: 20px;
   outline: none;
}
.price-input::placeholder{
   color: #5D5D5F;
   font-size: 16px;
}
.price .button {
   width: 100%;
}

.price img {
   position: absolute;
   bottom: -122px;
   left: 431px;

}




.footer{
   border-top: 1px solid #E5E5E5;
}
.footer .container{
   height: 90px;
}

.footer .container::before{
   content: '';
   display: block;
   background: url('../img/logo.png') no-repeat;
   width: 113px;
   height: 39px;
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
}

.footer .container::after{
   content: 'Все права защищены';
   display: block;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 0;
   font-size: 15px;
   line-height: 1.2;
}